- if languages.any?
    select name="target_lang" class="form-control form-element"
        - languages.collection.each.with_index do |language,index|
            option value="#{language.code}" #{language.name}